@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 196 64% 24%;
  --primary: 196 64% 24%;
  --primary-foreground: 0 0% 100%;
  --muted: 196 34% 93%;
  --muted-foreground: 196 24% 40%;
  --accent: 174 62% 60%;
  --accent-foreground: 196 64% 14%;
  --input: 196 34% 91%;
  --ring: 183 70% 45%;
  --border: 196 34% 80%;
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground;
  font-feature-settings: "rlig" 1, "calt" 1;
} 